.react-calendar {
  width: 100%;
  margin: 0 auto;
  height: 600px;
  background-color: #F5F5F6;
  color: #222;
  border-radius: 6px;
  line-height: 1.125em;
}

/*날짜 변경 네비바 */
.react-calendar__navigation {
  width: 100%;
  text-align: center;
  display: flex;
}

/* 화살표 버튼 */
.react-calendar__navigation button {
  background: none;
  font-size: 25px;
  padding: 0 3px 20px 3px;
  margin-top: 20px;
  font-weight: 400;
  color: gray;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  color: #222;
}

.react-calendar__navigation button[disabled] {
  color: #222;
}

.react-calendar__navigation__arrow {
  font-weight: 700;
}

.react-calendar__navigation__next-button {
  margin-right: 10px;
}

.react-calendar__navigation__next2-button {
  margin-right: 80px;
}

.react-calendar__navigation__prev-button {
  margin-left: 10px;
}

.react-calendar__navigation__prev2-button {
  margin-left: 80px;
}

/* 년월 */
.react-calendar__navigation__label__labelText {
  font-weight: 600;
  font-size: 20px;
  color: #222;
}

.react-calendar__navigation__label__labelText--from {}

/* 년월 hover, focus*/
.react-calendar__tile {
  padding: 3px;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #666;
  color: #ffffff;
  border-radius: 6px;
}

/* 오늘 날짜 today */
.react-calendar__tile--now {
  background: #111;
  border-radius: 6px;
  font-weight: bold;
  color: #f8f8f8;
}

/* 오늘 날짜 hover, focus */
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #666;
  border-radius: 6px;
  font-weight: bold;
  color: #fff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #222;

}

.react-calendar__tile--active {
  background: #222;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #222;
  color: white;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #222;
}


.react-calendar__tile--rangeStart {
  border-radius: 6px;
  background: #222;
  color: white;
}

.react-calendar__tile--rangeEnd {
  border-radius: 6px;
  background: #222;
  color: white;
}

.dot {
  height: 20px;
  width: 20px;
  display: flex;
  margin: 15px auto;
}

/* 월화수목금토일 */
abbr[title] {
  text-decoration: none !important;
  font-weight: 700;
  padding: 10px 20px;
  font-weight: 500;
}

abbr[title="토요일"] {
  color: rgb(0, 78, 194);
}

abbr[title="일요일"] {
  color: rgb(129, 0, 0);
}

/*주말 */
.react-calendar__month-view__weekdays__weekday {
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
  padding: 3px 0;
}

.react-calendar__month-view__weekdays__weekday abbr {
  border-image: none;
}

.react-calendar__month-view__weekdays__weekday--weekend {}

.react-calendar__month-view__weekdays__weekday--weekend abbr {
  border-image: none;
}

.react-calendar__month-view__days__day:nth-child(7n-1) {
  color: rgb(0, 78, 194);
}

.react-calendar__month-view__days__day--weekend {
  color: rgb(129, 0, 0);
}

/* day */
.react-calendar__month-view__days__day {
  font-size: 14px;
  text-align: right;
  padding-right: 10px;
}